<h1 class="text-center mt-4">Graphiques</h1>

<!-- graphique camembert -->
<div class="container mt-4 d-flex justify-content-center">
    <div class="col-md-6">
        <canvas id="pieChart"></canvas>
    </div>
</div>

<!-- conteneur pour les histogrammes -->
<div class="container mt-4 d-flex justify-content-center">
    <div class="col-md-6">
        <div id="barChartsContainer"></div>
    </div>
</div>


<!-- injection des données utilisateurs pour le script graphes.js -->
<script id="usersData" type="application/json"><%- JSON.stringify(users) %></script>
<script src="/chartjs/chart.umd.js"></script>
<script src="/js/graphes.js"></script>
